<link rel="stylesheet" href="/static/style.css" type="text/css">
{% block body %}

 
<form action="/login" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Habeis pasado por aqui:</h1>
			</div>
 			<div class="login-form">
 				<table border = 1>
		         {% for  value in users %}
		            <tr>
		               <td> {{ value }} </td>
		            </tr>
		            
		         {% endfor %}
		      </table>
			</div>
			<div class="logout-form">
				<a href='/logout'>Logout</a>
			</div>
		</div>
	</div>
</form>
 

{% endblock %}