<link rel="stylesheet" href="/static/style.css" type="text/css">
{% block body %}

 
 
<form action="/login" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Lecturas</h1>
			</div>
 			
			<!-- import plugin script -->
   			<script src='static/Chart.min.js'></script>
   			<h1>Grafico sobre trafico</h1>
			<h2>Valor 2 significa que hay algun vehiculo. Valor 1 lo contrario</h1>
			<!-- bar chart canvas element -->
			<canvas id="chart" width="800" height="800"></canvas>


			<form action="/login" method="POST">
			  <div class="login">
			  	<div class="rawdata-form">
			<script>
			 
			   // bar chart data
			   var barData = {
			   labels : [{% for item in labels %}
			                  "{{item}}",
			              {% endfor %}],
			   datasets : [
			      {
			            fillColor: "rgba(151,187,205,0.2)",
			            strokeColor: "rgba(151,187,205,1)",
			            pointColor: "rgba(151,187,205,1)",
			            pointStrokeColor: "#fff",
			            pointHighlightFill: "#fff",
			            pointHighlightStroke: "rgba(151,187,205,1)",
			            bezierCurve : false,
			            data : [{% for item in values %}
			                      {{item}},
			                    {% endfor %}]
			      }]
			   }
			 
			    Chart.defaults.global.animationSteps = 50;
			    Chart.defaults.global.tooltipYPadding = 16;
			    Chart.defaults.global.tooltipCornerRadius = 0;
			    Chart.defaults.global.tooltipTitleFontStyle = "normal";
			    Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
			    Chart.defaults.global.animationEasing = "easeOutBounce";
			    Chart.defaults.global.responsive = false;
			    Chart.defaults.global.scaleLineColor = "black";
			    Chart.defaults.global.scaleFontSize = 16;
			 
			   // get bar chart canvas
			   var mychart = document.getElementById("chart").getContext("2d");
			 
			   steps = 2
			   max = 2
			   // draw bar chart
			   var LineChartDemo = new Chart(mychart).Line(barData, {
			        scaleOverride: true,
			        scaleSteps: steps,
			        scaleStepWidth: Math.ceil(max / steps),
			        scaleStartValue: 0,
			        scaleShowVerticalLines: true,
			        scaleShowGridLines : true,
			        barShowStroke : true,
			        scaleShowLabels: true,
			        bezierCurve: false,
			 
			   });
			 
			 
			</script>

			
				<p>Ultima Actualizacion a las {{ hora }}</p>
				<table border = 1>
		         {% for key, value in result.iteritems() %}
		         
		            <tr>
		               <th> {{ key }} </th>
		               <td> {{ value }} </td>
		            </tr>
		            
		         {% endfor %}
		      </table>
			</div>

			<div class="back-form">
				<a href='/back'>Volver</a>
			</div>
		</div>
	</div>
</form>
 

{% endblock %}